.profile-image {
  padding: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 6;
  margin-right: 10px;
  float: left;
}

.profile {
  position: relative;
  margin-bottom: -100px;
  margin-right: 270px;
  z-index: 6;
}

.name {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;
}

md-list-item {
  margin: 5px 0;
}

md-list-item:hover {
  background: #3fafc9;
}
